{% if product.metafields["custom_fields"]["short_descri_"] != blank %}
  <div class="custom-field custom-field__short-descri- custom-field__type--multi-line-text-field">
    <h3 class="custom-field--title">Short Description </h3>
    <div class="custom-field--value">
      {{ product.metafields["custom_fields"]["short_descri_"] }}

    </div>
  </div>
{% endif %}